.title{
    background: green;
    color:white;
}
.description{
    background: yellow;
    color: black;
}
.bold{
    font-weight: bold;
}
.center {
    text-align: center;
}
.parrafo1{
    background: red;
    color: beige;
}